#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: aqua;
}
.Cart {
  padding: 15px;
}
.Distance {
  padding: 15px;
}
.Items {
  padding: 15px;
}
.button {
  padding: 15px;
}

.Date {
  margin: 15px;
  color: black;
}
.topbar {
  top: -30px;
  position: relative;
  display: block;
  color: black;
  border-bottom: 5px solid;
}
